<th>{{customer.id}}</th>
<td><input type="text" value="{{customer.name}}" name="name" /></td>
<td><input type="text" value="{{customer.email}}" name="email" /></td>
<td><input type="text" value="{{customer.phone}}" name="phone" /></td>
<td><input type="text" value="{{customer.address}}" name="address" /></td>
<td><input type="text" value="{{customer.extra_info}}" name="extra_info" /></td>
<td><button class="save">Save</button></td>
<td><button class="cancel">Cancel</button></td>
