<th>{{receipt.id}}</th>
<td class="receipt-target"><a class="receipt-link" href="/receipts/view/{{receipt.id}}">{{receipt.store}}</a></td>
<td>{{receipt.number_of_items}}</td>
<td>{{receipt.tax}}%</td>
<td>${{receipt.total_price}}</td>
<td>{{receipt.purchase_date}}</td>
<td><button class="edit-receipt">Edit</button></td>