<th>{{pkg.id}}</th>
<td>{{pkg.package_name}}</td>
<td>{{pkg.item_count}}</td>
<td>${{pkg.price}}</td>
<td>${{pkg.price_per_item}}</td>
<td>{{pkg.date_sent}}</td>
<td>{{pkg.tracking_number}}</td>
<td><button class="edit-pkg">Edit</button></td>
<td><a href="/packages/print/{{pkg.id}}"><button class="print-pkg">Print</button></a></td>