<div class="row justify-content-center" id="image-display" style="display: none">
  <div class="col-9 mt-2">
    {{#if item.picture}}
      <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{item.picture}}" class="custom-img-fluid" alt="{{item.picture}}">
    {{else}} 
      {{#if (isForMen item.gender)}}
        <img src="/images/clothing/man-placeholder.jpeg" class="custom-img-fluid" alt="{{item.picture}}">
      {{else}}
        <img src="/images/clothing/woman-placeholder.jpg" class="custom-img-fluid" alt="{{item.picture}}">
      {{/if}}
    {{/if}}
    <div class="col-9 mb-3">
      <span class="input-group-text">Picture</span>
      <div id="preview-container"><img id="preview"></div>
      <input type="file" class="form-control" name="brandomania-picture" id="picture-uploader" accept="image/png, image/jpeg, image/jpg"/>
      <input type="text" id="edit-clothing-picture" name="picture" value="{{item.picture}}" style="visibility: hidden;">
      {{!-- <input type="hidden" id="clothing-picture" name="picture"> --}}
    </div>
  </div>
</div>