<div class="row justify-content-center" id="item-package-details" style="display: none">

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="item-location">Location:</span>
      <select class="form-select" name="location" aria-label="item-location" aria-describedby="item-location">
        {{#if (isInUkraine item.location)}}
          <option value="usa">USA</option>
          <option value="ukraine" selected>Ukraine</option>
          <option value="alla">Alla</option>
          <option value="traveling">Traveling</option>
          <option value="box">Box</option>
        {{else}} {{#if (isWithAlla item.location)}}
          <option value="usa">USA</option>
          <option value="ukraine">Ukraine</option>
          <option value="alla" selected>Alla</option>
          <option value="traveling">Traveling</option>
          <option value="box">Box</option>
        {{else}} {{#if (isTraveling item.location)}}
          <option value="usa">USA</option>
          <option value="ukraine">Ukraine</option>
          <option value="alla">Alla</option>
          <option value="traveling" selected>Traveling</option>
          <option value="box">Box</option>
        {{else}} {{#if (isInBox item.location)}}
        <option value="usa">USA</option>
          <option value="ukraine">Ukraine</option>
          <option value="alla">Alla</option>
          <option value="traveling">Traveling</option>
          <option value="box" selected>Box</option>
        {{else}}
          <option value="usa" selected>USA</option>
          <option value="ukraine">Ukraine</option>
          <option value="alla">Alla</option>
          <option value="traveling">Traveling</option>
          <option value="box">Box</option>
        {{/if}}{{/if}}{{/if}}{{/if}}
      </select>
    </div>
  </div>

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="package-id">Package Id:</span>
      <input type="text" class="form-control" name="package_id" value="{{item.package_id}}" aria-label="package-id" aria-describedby="package-id">
    </div>
  </div>
  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="package-name">Package Name:</span>
      <input type="text" class="form-control" value="{{item.package_name}}" aria-label="package-name" aria-describedby="package-name" disabled>
    </div>
  </div>

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="shipping-cost">Shipping Cost:</span>
      <input type="text" class="form-control" value="${{item.shipping_cost}}" aria-label="$" aria-describedby="shipping-cost" inputmode="numeric" disabled>
    </div>
  </div>

</div>