<div class="card item-block" style="font-size: 10px">
  {{#if (isForMen item.gender)}}
    <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{item.picture}}" class="card-img-top" alt="{{item.picture}}" onerror="this.src='/images/clothing/man-placeholder.jpeg'" />
  {{else}}
    <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{item.picture}}" class="card-img-top" alt="{{item.picture}}" onerror="this.src='/images/clothing/woman-placeholder.jpg'" />
  {{/if}}


  {{!-- {{#if item.picture}}
    <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{item.picture}}" class="card-img-top" alt="{{item.picture}}">
  {{else}} 
    {{#if (isForMen item.gender)}}
      <img src="/images/clothing/man-placeholder.jpeg" class="card-img-top" alt="...">
    {{else}}
      <img src="/images/clothing/woman-placeholder.jpg" class="card-img-top" alt="...">
    {{/if}}
  {{/if}} --}}
  <div class='card-img-overlay detail-overlay'>
    {{#if item.location}}
      <img src="/images/locations/{{item.location}}.png" class="country-img" alt="{{item.location}}">
    {{else}}
      <img src="/images/locations/usa.png" class="country-img" alt="USA">
    {{/if}}
    {{#if (isInStock item.in_stock)}}
      <div class="instock">IN STOCK</div>
    {{/if}}

    {{#if item.sold_to}}
      <div class="reserved">
        <button>
          <a href={{item.sold_to}} target="_blank">RESERVED</a>
        </button>
      </div>
    {{else}}
      {{#if (sellPending item.pending)}}
          <div class="pending"><p>PENDING</p></div>
      {{else}}
          {{#if (greaterThanZero item.sold_price)}}
            <div class="sold"><p>SOLD</p></div>
          {{/if}}
      {{/if}}
    {{/if}}

    <div class="item-size"><p>{{item.size}}</p></div>
    <div class="tag-number"><p>{{item.tag_number}}</p></div>
    <div class="brand-name"><p>{{item.brand}}</p></div>
    <div class="item-type"><p>{{item.type}}</p></div>
    <div class="item-colors"><p>{{item.colors}}</p></div>
    <div class="package-name"><p>{{item.package_name}}</p></div>
    <div class="purchase-price"><p>${{item.total_price}}</p></div>
    <div class="receipt-number"><p>{{item.store}}</p></div>
  </div>
  <div class="right-click-options row" id="right-click-option-{{item.id}}">
    <div class="col-6">
      <button class="btn-success duplicate">Duplicate</button>
    </div>
    <div class="col-6">
      <button class="btn-danger delete">Delete</button>
    </div>
  </div>

  <div class="row package-wrapper" id="package-wrapper-{{item.id}}">
    <div class="col-12">
      <button class="btn-success quick-package-button">Add To Package</button>
    </div>
  </div>

  <div class="row inventory-wrapper" id="inventory-wrapper-{{item.id}}">
    <div class="col-12">
      <button class="btn-success quick-inventory-button">Ukraine</button>
    </div>
    <div class="col-12">
      <button class="btn-success quick-inventory-button">USA</button>
    </div>
    <div class="col-12">
      <button class="btn-success quick-inventory-button">Jenia</button>
    </div>
    <div class="col-12">
      <button class="btn-success quick-inventory-button">Alla</button>
    </div>
    <div class="col-12">
      <button class="btn-success quick-inventory-button">Traveling</button>
    </div>
    <div class="col-12">
      <button class="btn-success quick-inventory-button">Box</button>
    </div>
    <div class="col-12">
      <button class="btn-danger quick-inventory-button">None</button>
    </div>
  </div>

  <div class="row sell-wrapper" id="sell-wrapper-{{item.id}}">
    <div class="col-12 input-group">
      <span class="input-group-text">Sold USD:</span>
      <input type="text" name="usd-price" class="from-control convert-value" value="{{item.sold_price}}">
      <span class="input-group-text">Sold UAH:</span>
      <input type="text" name="uah-price" class="from-control convert-value">
    </div>
    <div class="col-12">
      <button id="nastia" class="btn-success custom-sell">Sold By Nastia</button>
    </div>

    <div class="col-12">
      <button id="jenia" class="btn-success custom-sell">Sold By Jenia</button>
    </div>

    <div class="col-12">
      <button id="alla" class="btn-success custom-sell">Sold By Alla</button>
    </div>

    <div class="col-12">
      <button class="btn-success sell-to-alla">Sell To Alla</button>
    </div>

    <div class="col-12">
      <button class="btn-danger not-sold">Not Sold</button>
    </div>
  </div>
  <button class="edit">Edit</button>
  <button class="copy-button">Copy Details</button>
  <div class="card-body">
    <pre class="card-text">{{item.extra_info}}</pre>
  </div>
</div>