<div class="card item-block" style="font-size: 10px">
  {{#if item.picture}}
    {{!-- https://brandomaniapictures.s3.amazonaws.com/20010995_1_1024x1024.jpg --}}
    <img src="https://brandomaniapictures.s3.amazonaws.com/{{item.picture}}" class="card-img-top" alt="{{item.picture}}">
  {{else}} 
    {{#if (isForMen item.gender)}}
      <img src="/images/clothing/man-placeholder.jpeg" class="card-img-top" alt="...">
    {{else}}
      <img src="/images/clothing/woman-placeholder.jpg" class="card-img-top" alt="...">
    {{/if}}
  {{/if}}
  <div class='card-img-overlay detail-overlay'>
    {{#if item.location}}
      <img src="/images/locations/{{item.location}}.png" class="country-img" alt="{{item.location}}">
    {{else}}
      <img src="/images/locations/usa.png" class="country-img" alt="USA">
    {{/if}}
    {{#if (greaterThanZero item.sold_price)}}
      <div class="sold"><p>SOLD</p></div>
    {{/if}}
    <div class="item-size"><p>{{item.size}}</p></div>
    <div class="tag-number"><p>{{item.tag_number}}</p></div>
    <div class="brand-name"><p>{{item.brand}}</p></div>
    <div class="item-type"><p>{{item.type}}</p></div>
    <div class="item-colors"><p>{{item.colors}}</p></div>
    <div class="package-name"><p>{{item.package_name}}</p></div>
    <div class="purchase-price"><p>${{item.total_price}}</p></div>
  </div>
  <div class="right-click-options row" id="right-click-option-{{item.id}}">
    <div class="col-6">
      <button class="btn-success duplicate">Duplicate</button>
    </div>
    <div class="col-6">
      <button class="btn-danger delete">Delete</button>
    </div>
  </div>
  <button class="edit">Edit</button>
  <div class="card-body">
    <pre class="card-text">{{item.extra_info}}</pre>
  </div>
</div>