<th>{{pkg.id}}</th>
<td><input type="text" value="{{pkg.package_name}}" name="package_name" /></td>
<td></td>
<td><input type="text" value="{{pkg.price}}" name="price" /></td>
<td></td>
<td><input type="date" value={{pkg.date_sent}} name="date_sent" /></td>
<td><input type="text" value="{{pkg.tracking_number}}" name="tracking_number" /></td>
<td></td>
<td></td>
<td><button class="save">Save</button></td>
<td><button class="cancel">Cancel</button></td>
