<div>

  {{>tag-search}}
    
    <div class="row">
      <div class="col">
        <div class="input-group mt-3">
          <span class="input-group-text" id="basic-addon2">Extra Info:</span>
          <input type="text" class="form-control" placeholder="more detail" aria-label="extra-info" aria-describedby="basic-addon2">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      {{#each items}}
      <div class="col-4" data-item-id="{{id}}">
        <div class="card item-block" style="font-size: 10px">
          {{#if picture}}
            <img src="/images/clothing/{{picture}}" class="card-img-top" alt="{{picture}}">>
          {{else}}
            <img src="/images/clothing/woman-placeholder.jpg" class="card-img-top" alt="...">
          {{/if}}
          <div class='detail-overlay'>
            {{#if location}}
              <img src="/images/locations/{{location}}.png" class="country-img" alt="{{location}}">
            {{else}}
              <img src="/images/locations/usa.png" class="country-img" alt="USA">
            {{/if}}
            {{#if (greaterThanZero sold_price)}}
              <div class="sold"><p>SOLD</p></div>
            {{/if}}
            <div class="item-size"><p>{{size}}</p></div>
            <div class="tag-number"><p>{{tag_number}}</p></div>
            <div class="brand-name"><p>{{brand}}</p></div>
            <div class="item-type"><p>{{type}}</p></div>
            <div class="item-colors"><p>{{colors}}</p></div>
            <div class="package-name"><p>{{package_name}}</p></div>
            <div class="purchase-price"><p>${{total_price}}</p></div>
          </div>
          <button class="edit">Edit</button>
          <div class="card-body">
            <pre class="card-text">{{extra_info}}</pre>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/edit-popup.js"></script>
<script src="/js/right-click.js"></script>