<div>

  {{>tag-filter}}
    
  <div class="row">
    <div class="col">
      <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon2">Extra Info:</span>
        <input type="text" id="extra-info-filter" class="form-control" placeholder="more detail" aria-label="extra-info" aria-describedby="basic-addon2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" name="pending-filter" type="checkbox" id="pending-filter">
          <label class="form-check-label " for="pending-filter">Pending Items</label>
        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      {{#each filters as |filter|}}
        {{#if (isArray filter)}}
          <span class="filter-span">{{joinArray filter}}</span>
        {{else}}
          <span class="filter-span">{{filter}}</span>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="row mt-3">
    {{#each items}}
    <div class="col-sm-9 col-md-4" data-item-id="{{id}}">
      <div class="card item-block" style="font-size: 10px">
        {{#if (isForMen gender)}}
          <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{picture}}" class="card-img-top" alt="{{picture}}" onerror="this.src='/images/clothing/man-placeholder.jpeg'" />
        {{else}}
          <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{picture}}" class="card-img-top" alt="{{picture}}" onerror="this.src='/images/clothing/woman-placeholder.jpg'" />
        {{/if}}
        
        {{!-- {{#if picture}}
          <img src="https://d2hcaqfu7kwyzt.cloudfront.net/{{picture}}" class="card-img-top" alt="{{picture}}">
        {{else}} 
          {{#if (isForMen gender)}}
            <img src="/images/clothing/man-placeholder.jpeg" class="card-img-top" alt="...">
          {{else}}
            <img src="/images/clothing/woman-placeholder.jpg" class="card-img-top" alt="...">
          {{/if}}
        {{/if}} --}}
        <div class='card-img-overlay detail-overlay'>
          {{#if location}}
            <img src="/images/locations/{{location}}.png" class="country-img" alt="{{location}}">
          {{else}}
            <img src="/images/locations/usa.png" class="country-img" alt="USA">
          {{/if}}
          {{#if (isInStock in_stock)}}
            <div class="instock">IN STOCK</div>
          {{/if}}

          {{#if (reserved sold_to sold_price)}}
            <div class="reserved">
              <button>
                <a href={{sold_to}} target="_blank">RESERVED</a>
              </button>
            </div>
          {{else}}
            {{#if (sellPending pending)}}
                <div class="pending"><p>PENDING</p></div>
            {{else}}
                {{#if (greaterThanZero sold_price)}}
                  <div class="sold"><p>SOLD</p></div>
                {{/if}}
            {{/if}}
          {{/if}}

          <div class="item-size"><p>{{size}}</p></div>
          <div class="tag-number"><p>{{tag_number}}</p></div>
          <div class="brand-name"><p>{{brand}}</p></div>
          <div class="item-type"><p>{{type}}</p></div>
          <div class="item-colors"><p>{{colors}}</p></div>
          <div class="package-name"><p>{{package_name}}</p></div>
          <div class="purchase-price"><p>${{total_price}}</p></div>
          <div class="receipt-number"><p>{{store}}</p></div>
        </div>


        <div class="right-click-options row" id="right-click-option-{{id}}">
          <div class="col-6">
            <button class="btn-success duplicate">Duplicate</button>
          </div>
          <div class="col-6">
            <button class="btn-danger delete">Delete</button>
          </div>
        </div>

        <div class="row package-wrapper" id="package-wrapper-{{id}}">
          <div class="col-12">
            <button class="btn-success quick-package-button">Add To Package</button>
          </div>
        </div>

        <div class="row inventory-wrapper" id="inventory-wrapper-{{id}}">
          <div class="col-12">
            <button class="btn-success quick-inventory-button">Ukraine</button>
          </div>
          <div class="col-12">
            <button class="btn-success quick-inventory-button">USA</button>
          </div>
          <div class="col-12">
            <button class="btn-success quick-inventory-button">Alla</button>
          </div>
          <div class="col-12">
            <button class="btn-success quick-inventory-button">Traveling</button>
          </div>
          <div class="col-12">
            <button class="btn-success quick-inventory-button">Box</button>
          </div>
          <div class="col-12">
            <button class="btn-danger quick-inventory-button">None</button>
          </div>
        </div>


        <div class="row sell-wrapper" id="sell-wrapper-{{id}}">
          <div class="col-12 input-group">
            <span class="input-group-text">Sold USD:</span>
            <input type="text" name="usd-price" class="from-control convert-value" value="{{sold_price}}">
            <span class="input-group-text">Sold UAH:</span>
            <input type="text" name="uah-price" class="from-control convert-value">
          </div>
          <div class="col-12">
            <button id="nastia" class="btn-success custom-sell">Sold By Nastia</button>
          </div>

          <div class="col-12">
            <button id="alla" class="btn-success custom-sell">Sold By Alla + Nastia</button>
          </div>

          <div class="col-12">
            <button class="btn-danger not-sold">Not Sold</button>
          </div>
        </div>

        <button class="edit">Edit</button>
        <button class="copy-button">Copy Details</button>
        
        <div class="card-body">
          <pre class="card-text">{{extra_info}}</pre>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!-- <script src="/js/add-to-package.js"></script> --}}
<script src="/js/edit-popup.js"></script>
<script src="/js/right-click.js"></script>
<script src="/js/filter-by-tag.js"></script>
<script src="/js/filter-by-extra-info.js"></script>
<script src="/js/copy-text.js"></script>
<script src="/js/bundled-save-image.js"></script>