<div class="row">
  <div class="col">
    <div class="input-group mt-3">
      <span class="input-group-text" id="basic-addon1">Customer Name:</span>
      <input type="text" id="order-filter" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Extra Info</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each customers}}
          <tr data-customer-id={{id}} id={{id}}>
            <th>{{id}}</th>
            <td class="customer-target">{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{address}}</td>
            <td>{{extra_info}}</td>
            <td></td>
            <td><button class="edit-customer">Edit</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div class="row">

<script src="/js/edit-customer.js"></script>