<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Brandomania express</title>
  {{!-- <link href="/bootstrap/bootstrap.min.css" rel="stylesheet"> --}}
  <link href="/stylesheets/reset.css" rel="stylesheet" />
  <link href="/stylesheets/tables.css" rel="stylesheet" />
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  
  <h1 data-order-id={{order.id}}>Order: {{order.name}}</h1>
  <h3>Revenue: ${{order.revenue}}</h3>
  <h3>COGS: ${{order.cogs}}</h1>
  <h3>Profit: ${{order.profit}}</h3>
  <div id="print"></div>

  <script src="https://unpkg.com/react@17.0.2/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js" crossorigin></script>
  <script src="/react/print-profit.js" type="text/babel"></script>
</body>
</html>

