<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Brandomania express</title>
  {{!-- <link href="/bootstrap/bootstrap.min.css" rel="stylesheet"> --}}
  <link href="/stylesheets/reset.css" rel="stylesheet" />
  <link href="/stylesheets/tables.css" rel="stylesheet" />
</head>
<body>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  
  <h1 data-pkg-id={{pkg.id}}>Package: {{pkg.package_name}}</h1>
  <h3>Tracking Number: {{pkg.tracking_number}}</h1>
  <h3>Shipping Cost: ${{pkg.price}} => ${{pricePerItem}}/item</h3>
  <div id="print"></div>

  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="/react/print.js" type="text/babel"></script>
</body>
</html>




  